.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.icons:nth-child(even) {
  animation: icons-spin-clockwise infinite 5s linear;
}

.icons:nth-child(odd) {
  animation: icons-spin-counter infinite 5s linear;
}

.icons:nth-child(8) {
  animation: icons-spin-crazy infinite 1s linear;
}

@keyframes icons-spin-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes icons-spin-counter {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes icons-spin-crazy {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}