#basic-dom-section {
    width: 300px;
    margin: auto;
    min-height: 40vh;
}

#basic-dom-container {
    border: 3px solid black;
}

#basic-dom-section h1 {
    text-align: center;
}

#basic-dom-buttons {
    margin-bottom: 20px;
    text-align: center;
}

#working-with-cards-section {
    min-height: 30vh;
    background: #eee;
}

#panel-container {
    display: flex;
}

#left-panel {
    flex: 1;
}

#right-panel {
    flex: 2;
}

.card {
    height: 100px;
    background: rgb(82, 73, 206);
    margin: 10px;
    padding: 10px;
    animation-duration: 2s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        width: 50%;
        background: rgb(191, 189, 221);
    }

    to {
        width: calc(100% - 40px);
        background: rgb(82, 73, 206);
    }
}