* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #bbb;
}

#account-creator {
    text-align: center;
}

#account-creator button {
    background-color: #444;
}

#accounts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.account {
    text-align: center;
    width: 28%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin: 5px;
}

h2 {
    font-size: 48px;
    color: black;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.amount-input {
    width: 195px;
    height: 25px;
}

.action-button {
    width: 85px;
    height: 29px;
    border: none;
    color: white;
    outline: none;
    margin-left: 5px;
}

.deposit-button {
    background: #0000FF;
}

.deposit-button:hover {
    background: #00004B;
    cursor: pointer;
}

.withdraw-button {
    background: #FF0000;
}

.withdraw-button:hover {
    background: #4B0000;
    cursor: pointer;
}